@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
}

.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 60px;

}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

#selected{
    background: #F6615D;
    padding: 10px 40px;
    border-radius: 50px;
}


/*COVER*/


.container__cover{
    width: 100%;
    height: 800px;
    background-image: url(../images/Background-page.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 400px;
}

.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;
}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
}

.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2, #f54d4d);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}

.container__cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #f54d4d;
}


.container__cover .svg img{
    width: 600px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}

